<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Download Kosm</title>
    <meta
        http-equiv="refresh"
        content="0;url=https://apps.apple.com/us/app/kosm-breathing-companion/id6739977352"
    />
</head>

<body class="flex flex-col justify-center items-center h-screen">
    <p>Taking you to the App Store</p>
    <a
        href="https://apps.apple.com/us/app/kosm-breathing-companion/id6739977352"
        class="manual-redirect text-blue-500 hidden"
        id="manual-redirect"
    >
        Click here if you are not automatically redirected
    </a>

    <script>
        setTimeout(() => {
            const element = document.getElementById("manual-redirect");
            if (element) element.style.display = "block";
        }, 5000);
    </script>
</body>
