<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Download Kosm</title>
    <meta
        http-equiv="refresh"
        content="0;url=https://apps.apple.com/us/app/kosm-breathing-companion/id6739977352"
    />
</head>

<body>
    <p>Taking you to the App Store...</p>
</body>
